.container{
    width: 100%;
    padding: {
        left: 15px;
        right: 15px;
    }
    margin: {
        left: auto;
        right: auto;
    }
    @include media('phone'){
        max-width: 320px;
    }
    @include media('tablet'){
        max-width: 768px;
    }
    @include media('desktop'){
        max-width: 1024px;
    }
    @include media('monitor'){
        max-width: 1280px;
    }
}